---
import { Button } from "@/components/ui/button";
import { Tabs } from "@/components/tabs";
import { LoadingSpinner } from "@/components/ui/loading-spinner";
import Layout from "@/layouts/Layout.astro";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import costumes from "@/data/costumes.json";
import { Download, Twitter } from "lucide-react";

const { searchParams } = Astro.url;
const id = searchParams.get("id");

if (id == null) return Astro.redirect("/");

const url = getCldImageUrl({ src: id });
console.log({ url });
---

<Layout title="Photo Booth">
  <section class="w-full flex gap-4 py-32">
    <div class="w-1/2 grid items-center">
      <div
        class="w-full px-16 grid grid-cols-2 gap-x-4 place-items-center text-white"
      >
        <div class="w-full flex flex-col items-center text-white mb-4">
          <h2 class="text-5xl font-bold mt-8 text-gradient">Instructions</h2>
          <ol
            class="flex flex-col gap-y-4 list-decimal list-inside mt-4 text-2xl"
          >
            <li>
              <strong>Select</strong> a costume from the list on the right side of
              the screen.
            </li>
            <li>
              Click the <strong>Take Photo</strong> button to apply the costume to
              your image.
            </li>
            <li>
              Click the <strong class="cursor-pointer" id="instructions-dots"
                >three dots (...)</strong
              >
              to download or share your photo.
            </li>
          </ol>
        </div>
        <div class="grid place-items-center relative">
          <LoadingSpinner
            id="loading-spinner"
            size={64}
            className="absolute opacity-0 z-10"
          />
          <div class="relative">
            <div class="absolute top-0 right-0 z-[5]">
              <button
                id="dropdown-toggle"
                class="px-4 py-2 border-none cursor-pointer outline-none text-xl"
                >...</button
              >
              <ul
                id="dropdown-menu"
                class="transition-opacity rounded-sm hidden opacity-0 absolute bg-gray-100 text-black min-w-[160px] shadow-lg z-[5]"
              >
                <li
                  id="download-img"
                  class="flex items-center gap-x-2 hover:bg-gray-400 cursor-pointer p-2"
                >
                  <Download size={16} />
                  Download
                </li>
                <li
                  id="share-twitter"
                  class="flex items-center gap-x-2 hover:bg-gray-400 cursor-pointer p-2"
                >
                  <Twitter size={16} />
                  Share to Twitter
                </li>
              </ul>
            </div>
            <img
              id="main-img"
              src={url}
              data-public-id={id}
              alt="Uploaded Image"
              class="w-auto h-[512px] object-cover rounded-sm transition-opacity"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2 px-16">
      <Tabs data={costumes} client:load />
    </div>
  </section>
  <div
    id="div-take-photo"
    class="absolute flex flex-col bottom-4 right-4 opacity-0 invisible bg-black p-8 rounded-sm transition-opacity"
  >
    <div class="flex items-center mb-4">
      <input type="checkbox" id="chk-replace-bg" class="mr-2 cursor-pointer" />
      <label
        for="chk-replace-bg"
        class="text-white cursor-pointer select-none text-xl"
      >
        Add <span class="text-gradient">Spooky Scary</span> Background 🎃
      </label>
    </div>
    <Button
      id="btn-take-photo"
      className="text-xl transition-all"
      variant="secondary"
      disabled
    >
      Take Photo
    </Button>
  </div>
</Layout>

<script>
  import type { Costume } from "@/types/costume";
  import { getState, subscribe } from "@/store/store";
  import { getCldImageUrl } from "astro-cloudinary/helpers";
  import type { ImageOptions } from "@cloudinary-util/url-loader";

  const divTakePhoto = document.querySelector(
    "#div-take-photo",
  ) as HTMLDivElement;
  const btnTakePhoto = document.querySelector(
    "#btn-take-photo",
  ) as HTMLButtonElement;
  const chkReplaceBg = document.querySelector(
    "#chk-replace-bg",
  ) as HTMLInputElement;
  const mainImg = document.querySelector("#main-img") as HTMLImageElement;
  const loadingSpinner = document.querySelector(
    "#loading-spinner",
  ) as HTMLDivElement;
  const dropdownToggle = document.querySelector(
    "#dropdown-toggle",
  ) as HTMLButtonElement;
  const dropdownMenu = document.querySelector(
    "#dropdown-menu",
  ) as HTMLUListElement;
  const downloadImgLi = document.querySelector(
    "#download-img",
  ) as HTMLLIElement;
  const shareToTwitter = document.querySelector(
    "#share-twitter",
  ) as HTMLLIElement;
  const instructionsDots = document.querySelector(
    "#instructions-dots",
  ) as HTMLSpanElement;

  let isLoading = false;

  let selectedCostume: Costume | null = getState().selectedCostume;

  const handleInitLoad = () => {
    isLoading = true;
    btnTakePhoto.disabled = true;
    chkReplaceBg.disabled = true;
    mainImg.classList.add("brightness-50");
    loadingSpinner.classList.add("opacity-100");
    loadingSpinner.classList.remove("opacity-0");
  };

  const handleFinishLoad = () => {
    btnTakePhoto.disabled = false;
    chkReplaceBg.disabled = false;
    mainImg.classList.remove("brightness-50");
    loadingSpinner.classList.remove("opacity-100");
    loadingSpinner.classList.add("opacity-0");
    isLoading = false;
  };

  btnTakePhoto.addEventListener("click", async () => {
    if (selectedCostume == null) return;

    const options: ImageOptions = {
      src: mainImg.dataset.publicId!,
      replace: {
        from: "wearings",
        to: `${selectedCostume.prompt}`,
        preserveGeometry: true,
      },
    };

    if (chkReplaceBg.checked) {
      options.replaceBackground = {
        prompt: "spooky scary halloween background",
      };
    }

    const transformedUrl = getCldImageUrl(options);
    handleInitLoad();
    const response = await fetch(transformedUrl, {
      mode: "cors",
    });

    if (response.status === 423) {
      // retry once
      const response = await fetch(transformedUrl, {
        mode: "cors",
      });

      if (response.status !== 423) {
        console.error("Failed to apply costume");
        return;
      }
    }

    mainImg.src = response.url;
  });

  const downloadImg = async () => {
    const url = mainImg.src;

    try {
      const response = await fetch(url, {
        mode: "cors",
      });

      if (!response.ok) {
        throw new Error("Failed to download image");
      }

      const blob = await response.blob();
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = "photo.png";
      link.click();
    } catch (error) {
      console.error(error);
    }
  };

  mainImg.addEventListener("load", handleFinishLoad);
  mainImg.addEventListener("error", handleFinishLoad);
  downloadImgLi.addEventListener("click", downloadImg);

  dropdownToggle.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
    dropdownMenu.style.opacity =
      dropdownMenu.style.opacity === "100" ? "0" : "100";
  });

  instructionsDots.addEventListener("click", () => {
    console.log("clicked");
    dropdownMenu.classList.toggle("hidden");
    dropdownMenu.style.opacity =
      dropdownMenu.style.opacity === "100" ? "0" : "100";
  });

  shareToTwitter.addEventListener("click", () => {
    const url = encodeURIComponent(window.location.href);
    const text = encodeURIComponent(
      "Check out my multiple spooky costumes of me made at ailloween.netlify.app! 🎃👻",
    );
    const hashtags = "spooky,halloween,cloudinary,midudev,hackaton";
    const tweetUrl = `https://twitter.com/intent/tweet?url=${url}&text=${text}&hashtags=${hashtags}`;
    window.open(tweetUrl, "_blank");
  });

  document.addEventListener("click", (event: any) => {
    if (
      !dropdownToggle.contains(event.target) &&
      !dropdownMenu.contains(event.target) &&
      !instructionsDots.contains(event.target)
    ) {
      dropdownMenu.style.opacity = "0";
      dropdownMenu.classList.add("hidden");
    }
  });

  subscribe((state) => {
    if (isLoading) return;
    const selectedCostumeString = JSON.stringify(state.selectedCostume);
    selectedCostume = state.selectedCostume;
    btnTakePhoto.disabled = selectedCostumeString == "{}";
    divTakePhoto.classList.toggle("opacity-0", selectedCostumeString == "{}");
    divTakePhoto.classList.toggle("invisible", selectedCostumeString == "{}");
  });
</script>
